@import url('./theme.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --clr-bg: #1e1e1e;
  --clr-bg-foreground: #f7f7f7;

  --clr-primary: #1e1e1e;
  --clr-primary-foreground: #f7f7f7;
  --clr-secondary: #f7f7f7;
  --clr-secondary-foreground: #1e1e1e;
  --clr-accent: var(--clr-primary);
  --clr-accent-foreground: var(--clr-primary-foreground);

  --ff-primary: 'darker-grotesque', sans;
  --ff-secondary: serif;

  --ff-heading: var(--ff-primary);
  --ff-body: var(--ff-primary);
  --ff-alt: var(var(--ff-primary));

  --fw-reqular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 900;

  --fs-xs: .75rem;
  --fs-sm: 1rem;
  --fs-reg: 1.25rem;
  --fs-lg: 1.875rem;
  --fs-xl: 4.5rem;

  --fs-body: var(--fs-reg);
  --fs-primary-heading: var(--fs-xl);
  --fs-secondary-heading: var(--fs-lg);
  --fs-alt-heading: var(--fs-reg);
  --fs-card-header: var(--fs-reg);
  --fs-card-description: var(--fs-xs);
  --fs-img-alt: var(--fs-xs);
  --fs-btn: var(--fs-xs);
}

@media (max-width: 50em) {
  :root {
    --fs-xl: 1.875rem;
  }
}


html,
body,
.ndrop-page {
  height: 100%;
}

body {
  line-height: 1.5;
}

* {
  font: inherit;
}


img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scrolling */
@media(prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility classes */

.text-primary {
  color: var(--clr-primary-foreground);
}

.text-secondary {
  color: var(--clr-secondary-foreground);
}

.text-accent {
  color: var(--clr-accent-foreground);
}

.bg-primary {
  background-color: var(--clr-primary);
}

.bg-secondary {
  background-color: var(--clr-secondary);
}

.bg-accent {
  background-color: var(--clr-accent);
}

.fw-bold {font-weight: var(--fw-bold);}

.fw-reg {font-weight: var(--fw-reqular);}

.fw-semi {font-weight: var(--fw-semi-bold);}

.fs-primary-heading {
  font-size: var(--fs-primary-heading);
  font-weight: var(--fw-bold);
}

.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
  font-weight: var(--fw-bold);
}