.container--header {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #1e1e1e;
    position: fixed;
    z-index: 50;
    border: 1px solid;
    border-color: color-mix(in srgb, var(--color-white, #e7e7d8)20%, transparent);
}


.container--header .content {
    display: flex;
    justify-content: space-between;
}