/* @link https://utopia.fyi/grid/calculator?c=320,16,1.2,1240,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=2xs,l,xl,12 */

:root {
    --grid-max-width: 69.75rem;
    --grid-gutter: var(--space-2xs-l, clamp(0.5rem, -0.2035rem + 3.5176vw, 2.25rem));
    --grid-columns: 12;
}

.u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .u-container {
        padding-inline: calc(var(--grid-gutter)*2);
    }
}

.u-container--narrow {
    max-width: calc(0.75 * var(--grid-max-width));
}

.u-grid {
    display: grid;
    gap: var(--grid-gutter);
}

.section-h--short {
    padding-block: var(--space-m-l);
}

.section-h--medium {
    padding-block: var(--space-l-xl);
}

.section-h--tall {
    min-height: 100vh;
    min-height: 100vsh;
}


.auto-grid {
    --_column-min-w: var(--column-min-w, 300px);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--_column-min-w), 100%), 1fr));
}

/* CAROUSEL SCROLLER */
.reel {
    position: relative;
}

.reel_container {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 90%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding: var(--space-s-m);
}

@media screen and (min-width: 640px) {
    .reel_container {
        grid-auto-columns: 45%;
    }
}


@media screen and (min-width: 1024px) {
    .reel_container {
        grid-auto-columns: 30%;
    }
}

.reel_container > * {
    scroll-snap-align: middle;
}
