/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,16,1.333,7,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
    --fs--2: clamp(0.5628rem, 0.7402rem + -0.229vw, 0.6944rem);
    --fs--1: clamp(0.7502rem, 0.8623rem + -0.1446vw, 0.8333rem);
    --fs-0: clamp(1rem, 1rem + 0vw, 1rem);
    --fs-1: clamp(1.2rem, 1.1537rem + 0.2313vw, 1.333rem);
    --fs-2: clamp(1.44rem, 1.3228rem + 0.5859vw, 1.7769rem);
    --fs-3: clamp(1.728rem, 1.5052rem + 1.1141vw, 2.3686rem);
    --fs-4: clamp(2.0736rem, 1.6966rem + 1.8848vw, 3.1573rem);
    --fs-5: clamp(2.4883rem, 1.8899rem + 2.992vw, 4.2087rem);
    --fs-6: clamp(2.986rem, 2.0732rem + 4.5639vw, 5.6102rem);
    --fs-7: clamp(3.5832rem, 2.2283rem + 6.7744vw, 7.4784rem);
}

.fs--2 {
    font-size: var(--fs--2);

}

.fs--1 {
    font-size: var(--fs--1);
}

.fs-0 {
    font-size: var(--fs-0);
}

.fs-1 {
    font-size: var(--fs-1);
}

.fs-2 {
    font-size: var(--fs-2);
}

.fs-3 {
    font-size: var(--fs-3);
}

.fs-4 {
    font-size: var(--fs-4);
}

.fs-5 {
    font-size: var(--fs-5);
}