/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1500,18,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,m,2xl,12 */

:root {
    --fs--2: clamp(0.7035rem, 0.8083rem + -0.1353vw, 0.7813rem);
    --fs--1: clamp(0.9375rem, 0.9374rem + 0.0004vw, 0.9377rem);
    --fs-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --fs-1: clamp(1.35rem, 1.24rem + 0.55vw, 1.6663rem);
    --fs-2: clamp(1.62rem, 1.4109rem + 1.0454vw, 2.2211rem);
    --fs-3: clamp(1.944rem, 1.5904rem + 1.7682vw, 2.9607rem);
    --fs-4: clamp(2.3328rem, 1.7715rem + 2.8067vw, 3.9467rem);
    --fs-5: clamp(2.7994rem, 1.9432rem + 4.281vw, 5.2609rem);
}

.fs--2 {
    font-size: var(--fs--2);

}

.fs--1 {
    font-size: var(--fs--1);
}

.fs-0 {
    font-size: var(--fs-0);
}

.fs-1 {
    font-size: var(--fs-1);
}

.fs-2 {
    font-size: var(--fs-2);
}

.fs-3 {
    font-size: var(--fs-3);
}

.fs-4 {
    font-size: var(--fs-4);
}

.fs-5 {
    font-size: var(--fs-5);
}