@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --radius: 0.3rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --branding: 45 91% 63%;
        --branding-foreground: 0 0% 12%;

        /* Light Backgrounds with Dark Text */
        --light-bg1: #FFDEE9;
        /* Soft pink */
        --light-text1: #333333;
        /* Dark grey */

        --light-bg2: #E9F7EF;
        /* Mint green */
        --light-text2: #34495E;
        /* Muted navy */

        --light-bg3: #F6F6F6;
        /* Near-white grey */
        --light-text3: #212121;
        /* Charcoal black */

        /* Dark Backgrounds with Light Text */
        --dark-bg1: #2C3E50;
        /* Dark navy */
        --dark-text1: #ECF0F1;
        /* Soft white */

        --dark-bg2: #1C1C1E;
        /* Deep blackish-grey */
        --dark-text2: #FFD700;
        /* Bright gold */

        --dark-bg3: #212121;
        /* Dark charcoal */
        --dark-text3: #A3E4D7;
        /* Cool teal */

        /* Vibrant Backgrounds with Text Colors */
        --vibrant-bg1: #FF6F61;
        /* Bright coral */
        --vibrant-text1: #1B1B1B;
        /* Rich black */

        --vibrant-bg2: #FFCF56;
        /* Warm sunflower yellow */
        --vibrant-text2: #1F2833;
        /* Dark slate blue */

        --vibrant-bg3: #40E0D0;
        /* Turquoise */
        --vibrant-text3: #2C2C2C;
        /* Deep grey */
    }

    .brand {
        --branding: 45 91% 63%;
        --branding-foreground: 0 0% 12%;
    }
}



.branding-primary {
    background-color: var(--vibrant-bg2);
    color: var(--vibrant-text2);
}

.branding-secondary {
    color: var(--vibrant-text2);
    background-color: #eeeeee;
}