@import url('./styles/theme.css');
@import url('./styles/font.css');
@import url('./styles/spacing.css');
@import url('./styles/container.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html, body {
    font-size: 18px;
  }
}

body {
  background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-body text-foreground;
  }

  p,
  li {
    @apply text-pretty leading-relaxed;
  }

  h1,
  h2,
  h3 {
    @apply text-balance leading-none;
  }

  p {
    @apply max-w-[65ch];
  }
}
