/* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1500,18,1.333,5,2,&s=0.75|0.5,1.5|2|3|4|6,s-xl&g=xs,s,l,12 */

:root {
    --fs--2: clamp(0.6331rem, 0.7111rem + -0.0831vw, 0.6944rem);
    --fs--1: clamp(0.8333rem, 0.8305rem + 0.0144vw, 0.844rem);
    --fs-0: clamp(1rem, 0.9661rem + 0.1695vw, 1.125rem);
    --fs-1: clamp(1.2rem, 1.1187rem + 0.4063vw, 1.4996rem);
    --fs-2: clamp(1.44rem, 1.2884rem + 0.758vw, 1.999rem);
    --fs-3: clamp(1.728rem, 1.474rem + 1.2701vw, 2.6647rem);
    --fs-4: clamp(2.0736rem, 1.6727rem + 2.0046vw, 3.552rem);
    --fs-5: clamp(2.4883rem, 1.8791rem + 3.0461vw, 4.7348rem);
}

.fs--2 {
    font-size: var(--fs--2);
    line-height: 125%;
  }
  
  .fs--1 {
    font-size: var(--fs--1);
    line-height: 125%;
  }
  
  .fs-0 {
    font-size: var(--fs-0);
    line-height: 125%;
  }
  
  .fs-1 {
    font-size: var(--fs-1);
    line-height: 125%;
  }
  
  .fs-2 {
    font-size: var(--fs-2);
    line-height: 125%;
  }
  
  .fs-3 {
    font-size: var(--fs-3);
    line-height: 100%;
  }
  
  .fs-4 {
    font-size: var(--fs-4);
    line-height: 100%;
  }
  
  .fs-5 {
    font-size: var(--fs-5);
    line-height: 100%;
  }
  