/* @link https://utopia.fyi/grid/calculator?c=320,16,1.2,1500,18,1.333,5,2,&s=0.75|0.5,1.5|2|3|4|6,s-xl&g=xs,s,3xl,12 */

:root {
    --grid-max-width: 95.63rem;
    --grid-gutter: var(--space-xs-s, clamp(0.75rem, 0.6508rem + 0.4959vw, 1.125rem));
    --grid-columns: 12;
  }
  
  .u-container {
    max-width: var(--grid-max-width);
    padding-inline: var(--grid-gutter);
    margin-inline: auto;
  }
  
  .u-grid {
    display: grid;
    gap: var(--grid-gutter);
  }

.auto-grid {
    --_column-min-width: var(--column-min-width, 320px);
    grid-template-columns: repeat(auto-fit, minmax(min(var(--_column-min-width), 100%), 1fr));
}

.two-column {
  grid-auto-flow: column;
  grid-auto-columns: 50%;
}

.new-section > .u-container{
    padding-block: var(--space-3xl);
    padding-inline: var(--space-l);
}

section.wrapper{
  display: grid;
  grid-template-areas: "stack";
}

section.wrapper > div {
  grid-area: stack;
}

section.wrapper > div:nth-child(1) {
  z-index: 0; /* Lower stacking order */
}

section.wrapper > div:nth-child(2) {
  z-index: 10; /* Higher stacking order */
}
