/* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1500,20,1.333,5,2,&s=0.75|0.5,1.5|2|3|4|6,s-xl&g=xs,m,m,12 */

:root {
    --space-2xs: clamp(0.5rem, 0.4661rem + 0.1695vw, 0.625rem);
    --space-xs: clamp(0.75rem, 0.6992rem + 0.2542vw, 0.9375rem);
    --space-s: clamp(1rem, 0.9322rem + 0.339vw, 1.25rem);
    --space-m: clamp(1.5rem, 1.3983rem + 0.5085vw, 1.875rem);
    --space-l: clamp(2rem, 1.8644rem + 0.678vw, 2.5rem);
    --space-xl: clamp(3rem, 2.7966rem + 1.0169vw, 3.75rem);
    --space-2xl: clamp(4rem, 3.7288rem + 1.3559vw, 5rem);
    --space-3xl: clamp(6rem, 5.5932rem + 2.0339vw, 7.5rem);

    /* One-up pairs */
    --space-2xs-xs: clamp(0.5rem, 0.3814rem + 0.5932vw, 0.9375rem);
    --space-xs-s: clamp(0.75rem, 0.6144rem + 0.678vw, 1.25rem);
    --space-s-m: clamp(1rem, 0.7627rem + 1.1864vw, 1.875rem);
    --space-m-l: clamp(1.5rem, 1.2288rem + 1.3559vw, 2.5rem);
    --space-l-xl: clamp(2rem, 1.5254rem + 2.3729vw, 3.75rem);
    --space-xl-2xl: clamp(3rem, 2.4576rem + 2.7119vw, 5rem);
    --space-2xl-3xl: clamp(4rem, 3.0508rem + 4.7458vw, 7.5rem);

    /* Custom pairs */
    --space-s-xl: clamp(1rem, 0.2542rem + 3.7288vw, 3.75rem);
}
