---
import { Image } from "astro:assets";
import logo from "../assets/bridger_logo.svg";
---

<footer class="content">
  <div class="inner">
    <div class="stack">
      <p>No waiting, just building.</p>
    </div>
    <Image
      src={logo}
      alt={`3d illustration of two bubble speeches`}
      width={200}
    />
  </div>
</footer>
